.aside {
  background: $white;
  width: 100%;
  border-radius: 60px;
  box-shadow: 0px 0px 80px rgba(181, 91, 183, 0.25);
  height: auto;
  max-width: 400px;
  z-index: 10000;
  pointer-events: all;
  padding: 32px;
  margin: 0 auto;    
  @include mq('768') {
    margin: auto 0 auto auto;
    max-width: 350px;
  }
  @include mq('1024') {
    max-width: 445px;
  }

  &__text {
    color: $form-text;
    text-align: center;
    font-size: 12px;
    font-weight: 500;

  }

  &__decor {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 20px 0;
    &:before, &:after {
      content: "";
      width: 40%;
      height: 1px;
      background: #E6E6E6;
      flex-grow: 1;
    }
    .icon {
      width: 21px;
      height: 21px;
      margin: 0 16px;
    }

  }

  &__title {
    font-size: 20px;
    line-height: 1.18;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  &__link {
    color: #A0A0A0;
    font-weight: 400;
    margin: 20px 0;
    display: block;
    font-size: 15px;
    text-align: center;
  }

  &__wrapper {
    width: 100%;
    height: auto;
    z-index: 1000;
    pointer-events: none;
    padding: 20px;
    padding-top: 80px;
    @include mq('768') {
      position: fixed;
      top: 0;
      left: 0;
      padding: 142px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 64px;
      height: 100vh;
      margin: 0;
    }

    &.userData {
      .aside-footer {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__container {
    max-width: 1110px;
    width: 100%;
    height: auto;
    display: flex;
    @include mq('768') {
      display: flex;
      align-items: center;
    }
  }
  &-footer {
    &__text {
      text-align: center;
      font-weight: 300;
      color: #A0A0A0;
      font-size: 15px;
      margin: 10px 0;
    }
    &__link {
      display: block;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 20px;
      color: $black;
      cursor: pointer;
    }
    &__textLink {
      font-weight: 300;
      color: #A0A0A0;
      font-size: 15px;
      margin: 10px 0;
      cursor: pointer;
    }

    &__subtext {
      font-size: 15px;
      line-height: 1.25;
      color: $form-text;
      text-align: center;
    }
  }
}


body:not(.index) .aside__wrapper{
  padding-top: 20px;
  @include mq('768') {
    position: absolute;
    align-items: flex-start;
    padding-top: 110px;
  }
}

