.compatibility {
  @include mq('768') {
    min-height: 1259px;
  }
  @include mq('1024') {
    min-height: 1216px;
  }
  
  .aside__wrapper {
    @include mq('768') {
      padding-top: 376px;
    }
    @include mq('1024') {
      padding-top: 290px;
    }
  }
  .aside__title {
    width: 100%;
    @include mq('768') {
      display: none;
    }
  }
  &-slider {
    position: relative;
    z-index: 500;
    width: calc(100% + 40px + 64px);
    transform: translateX(-52px);
    @include mq('768') {
      width: 48%;
      transform: translateX(0);
    }
    .compatibility-slider__decor{
      display: none;
      @include mq('768') {
        display: flex;
      }
    }
    &:first-of-type {
      &:after {
        content: "";
        width: 1px;
        height: calc(100% - 65px + 110px);
        bottom: -110px;
        position: absolute;
        right: -4.5%;
        background: $hr;
        display: none;
        @include mq('768') {
          display: block;
        }
      }
    }
    &__title {
      display: none;
      @include mq('768') {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
      }
    }
    &-item {
      box-shadow: 0px 0px 30px rgba(181, 91, 183, 0.25);
      border-radius: 12px;
      background: #FFFFFF;
      width: 135px;
      padding: 37px 20px 20px;
      text-align: center;
      height: 100%;
      @include mq('768') {
        box-shadow: none;
        padding-top: 0px;
      }
      @include mq('1024') {
        padding-top: 20px;
      }
      @include mq('1280') {
        padding-top: 0;
      }
      &-img {
        max-width: 100%;
        .icon {
          width: 65px;
          height: 65px;
          @include mq('768') {
            width: 100px;
            height: 70px;
          }
          @include mq('1280') {
            height: 127px;

          }
        }
      }
      &__title {
        color: $form-text;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 15px;
        display: block;
      }
      &__text {
        display: none;
        @include mq('768') {
          display: block;
          margin-bottom: 0;
        }
      }
    }
    &__wrapper {
      max-width: 1110px;
      padding-bottom: 20px;
      @include mq('768') {
        max-width: 1110px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @include mq('1024') {
        max-width: 1110px;
      }
      .plus {
        margin: 0 auto;
      }

      > .aside__decor{
        @include mq('768') {
          display: none;
        }
      }
    }
    .swiper {
      padding: 30px 0;
      @include mq('768') {
        padding: 0;
      }
      &-wrapper {
        align-items: stretch;
        height: 100%;
      }
      &-slide {
        cursor: pointer;
        .icon {
          stroke: $form-text;
          fill: $white;
          stroke-width: 3px;
          transition: stroke 0.2s ease-in-out;
          &-gemini {
            stroke-width: 12px;
          }
        }
        &-active {
          .icon {
            stroke: $black;
          }
        }
      }
    }
    .first-slider {
      margin-top: -10px;
      @include mq('768') {
        margin: 0;
      }
    }
  }
  &-nav {
    position: absolute;
    top: 38px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    @include mq('1280') {
      top: 74px;
    }
    button {
      background: transparent;
      width: 40px;
      height: 40px;
      border: 1px solid #E5E5E5;
      border-radius: 50%;
      pointer-events: all;
      position: relative;
      z-index: 2;
      display: none;
      @include mq('1280') {
        display: block;
      }
      .icon {
        width: 16px;
        height: 13px;
        fill: #E5E5E5;
      }
      &:focus {
        box-shadow: none;
        .icon {
          fill: lighten($color: $main, $amount: 20%);
        }
      }
      &.swiper-button-disabled {
        opacity: 0;
      }
    }
    &-next {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  &-form {
    @include mq('768') {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
    }
    .form__item {
      margin-bottom: 0;
      @include mq('768') {
        width: 48%;
      }
      select {
        visibility: hidden;
        width: 0;
        height: 0;
        border: 0;
        pointer-events: none;
      }
      .aside__decor {
        display: none;
        @include mq('768') {
          display: block;
        }

      }
    }
    .btn_primary {
      max-width: 350px;
      margin: 0 auto;
      @include mq('768') {
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(-32px - 95px);
      }
      @include mq('1280') {
        // bottom: calc(-32px - 110px);
      }
    }
  }
}
