.form {
  background: $white;
  width: 100%;
  border-radius: 60px;
  box-shadow: 0px 0px 80px rgba(181, 91, 183, 0.25);
  height: auto;
  max-width: 400px;
  z-index: 10000;
  pointer-events: all;
  padding: 32px;
  margin: 0 auto;    

  @include mq('768') {
    margin: auto 0 auto auto;
    max-width: 350px;
  }
  @include mq('1024') {
    max-width: 445px;
  }

  &__text {
    color: $form-text;
    text-align: center;
    font-size: 12px;
    font-weight: 500;

  }

  &__decor {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 20px 0;
    &:before, &:after {
      content: "";
      width: 40%;
      height: 1px;
      background: #E6E6E6;
      flex-grow: 1;
    }
    .icon {
      width: 21px;
      height: 21px;
      margin: 0 16px;
    }

  }

  &__title {
    font-size: 20px;
    line-height: 1.18;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  &__link {
    color: #A0A0A0;
    font-weight: 400;
    margin: 20px 0;
    display: block;
    font-size: 15px;
    text-align: center;
  }

  &__item {
    position: relative;
    margin-bottom: 20px;
    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 22px;
      width: 20px;
      height: 20px;
      &-input-arrow {
        width: 14px;
        height: 10px;
        pointer-events: none;
      }
    }
    &_captcha {
      display: flex; 
      align-items: center;
      .captcha {
        width: 76px;
        margin-left: 22px;
      }
      .form__input {
        width: calc(100% - 76px - 22px);
      }

    }
  }
  &__input {
    width: 100%;
    height: 60px;
    border: 1px solid #E8EDFF;
    border-radius: 30px;
    background: $baige;
    padding: 0 16px;
    font-size: 15px;
    font-weight: 500;
    color: $text;
    &::placeholder {
      font-weight: 300;
      color: $placeholder;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      height: 100%;
      width: 60%;
      cursor: pointer;
    }

  }
  &__textarea {
    width: 100%;
    height: 22vh;
    border: 1px solid #E8EDFF;
    border-radius: 30px;
    background: $baige;
    padding: 20px 16px;
    font-size: 15px;
    font-weight: 500;
    color: $text;
    &::placeholder {
      font-weight: 300;
      color: $placeholder;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      height: 100%;
      width: 60%;
      cursor: pointer;
    }



    
  }

  &__wrapper {
    width: 100%;
    height: auto;
    z-index: 1000;
    pointer-events: none;
    padding: 20px;
    @include mq('768') {
      position: fixed;
      top: 0;
      left: 0;
      padding: 142px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 64px;
      height: 100vh;
      margin: 0;
    }
  }
  &__container {
    max-width: 1110px;
    width: 100%;
    height: auto;
    display: flex;
    @include mq('768') {
      display: flex;
      align-items: center;
    }
  }
  &-footer {
    &__text {
      text-align: center;
      font-weight: 300;
      color: #A0A0A0;
      font-size: 15px;
      margin: 10px 0;
    }
    &__link {
      display: block;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 20px;
      color: $black;
      cursor: pointer;
    }
    &__textLink {
      font-weight: 300;
      color: #A0A0A0;
      font-size: 15px;
      margin: 10px 0;
      cursor: pointer;
    }

    &__subtext {
      font-size: 15px;
      line-height: 1.25;
      color: $form-text;
      text-align: center;
    }
  }
  &.userData {
    .form-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}


body:not(.index) .form__wrapper{
  @include mq('768') {
    position: absolute;
    align-items: flex-start;
  }
}

