.form {
  &__item {
    position: relative;
    margin-bottom: 20px;
    .icon-input-arrow, .icon-email, .icon-lock {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 22px;
      width: 20px;
      height: 20px;
    }
    .icon-input-arrow {
      width: 14px;
      height: 10px;
      pointer-events: none;
    }
    &_captcha {
      display: flex;
      align-items: center;
      .captcha {
        width: 76px;
        margin-left: 22px;
      }
      .form__input {
        width: calc(100% - 76px - 22px);
      }

    }
  }
  &__input {
    width: 100%;
    height: 60px;
    border: 1px solid #E8EDFF;
    border-radius: 30px;
    background: $baige;
    padding: 0 16px;
    font-size: 15px;
    font-weight: 500;
    color: $text;
    &::placeholder {
      font-weight: 300;
      color: $placeholder;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      height: 100%;
      width: 60%;
      cursor: pointer;
    }
    &[error] {
      box-shadow: 0px 0px 8px 0px $error;
    }
  }
  &__textarea {
    width: 100%;
    height: 22vh;
    border: 1px solid #E8EDFF;
    border-radius: 30px;
    background: $baige;
    padding: 20px 16px;
    font-size: 15px;
    font-weight: 500;
    color: $text;
    &::placeholder {
      font-weight: 300;
      color: $placeholder;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      height: 100%;
      width: 60%;
      cursor: pointer;
    }
  }

  &.userData {
    .aside-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}

.select {
  position: relative;
  &__choose {
    width: 100%;
    height: 48px;
    border: 1px solid #E8EDFF;
    border-radius: 30px;
    background: $baige;
    padding: 0 16px;
    font-size: 15px;
    font-weight: 500;
    color: $text;
    display: flex;
    line-height: 46px;
    align-items: center;
    transition: 0.2s ease-in-out;
    transition-delay: 0.2s;
    text-transform: capitalize;
    &.open {
      border-radius: 30px 30px 0 0;
      transition-delay: 0s;
      z-index: 501;
    }
    .icon {
      width: 16px;
      height: 16px;
      stroke: $black;
      fill: $white;
      stroke-width: 3px;
      position: static;
      transform: none;
      margin-right: 14px;
      pointer-events: none;
      &-gemini {
        stroke-width: 16px;
      }
    }
    span {
      pointer-events: none;
    }
  }
  &-list {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    transition: 0.2s ease-in-out;
    z-index: 501;
    background-color: $premiumItem;
    border-radius: 0 0 30px 30px;
    text-transform: capitalize;
    .icon {
      position: static;
      transform: none;
      fill: transparent;
      stroke: $black;
      stroke-width: 3px;
      width: 16px;
      height: 16px;
      margin-right: 14px;
      &-gemini {
        stroke-width: 13px;
      }
    }
    &-item {
      padding: 0 16px;
      line-height: 44px;
      border-bottom: 1px solid $hr;
      background: transparent;
      transition: background 0.2s ease-in-out;
      font-weight: 400;
      font-size: 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        background: $placeholder;
        color: $white;
        .icon {
          stroke: $white;
          pointer-events: none;
        }
      }
    }
    &.show {
      max-height: 500px;
    }
  }
  .icon-input-arrow {
    top: 25px;
    pointer-events: none;
    width: 14px;
    height: 10px;
  }
  &__wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
  }
}
