.aside__wrapper
  .aside__container
    form.aside.logIn(action="").form
      h2.aside__title change password
      span.aside__decor
        +icon('sun')
      .form__item
        input.form__input(type="password" placeholder="Current password")
        +icon('lock')
      .form__item
        input.form__input(type="password" placeholder="New password")
        +icon('lock')
      .form__item
        input.form__input(type="password" placeholder="Confirm new password")
        +icon('lock')
      button.btn save changes
      span.aside__decor
        +icon('moon')
      .aside-footer
        a.aside-footer__link Back to profile