.aside__wrapper.results
  .aside__container
    .aside
      h2.aside__title results
      span.aside__decor
        +icon('sun')
      .results-zodiac
        .results-zodiac-item
          +icon('gemini')
        .plus
        .results-zodiac-item
          +icon('leo')
      span.aside__decor
        +icon('moon')
      .results-list
      a(href="./compatibility.html").btn.btn_primary  Choose another
