.aside__wrapper
  .aside__container
    .aside.compatibility-form
      h2.aside__title Current subscription
      span.aside__decor
        +icon('sun')
      .compatibility-form-slider
        .swiper.first-slider 
          .swiper-wrapper
            .swiper-slide.compatibility-form-slider-item
              .compatibility-form-slider-item-img
                +icon('gemini')
              span.compatibility-form-slider-item__title 15 oct - 21 dec
            .swiper-slide.compatibility-form-slider-item
              .compatibility-form-slider-item-img
                +icon('leo')
              span.compatibility-form-slider-item__title 15 oct - 21 dec
            .swiper-slide.compatibility-form-slider-item
              .compatibility-form-slider-item-img
                +icon('pisces')
              span.compatibility-form-slider-item__title 15 oct - 21 dec
      .plus 
      .compatibility-form-slider
        .swiper.second-slider 
          .swiper-wrapper
            .swiper-slide.compatibility-form-slider-item
              .compatibility-form-slider-item-img
                +icon('gemini')
              span.compatibility-form-slider-item__title 15 oct - 21 dec
            .swiper-slide.compatibility-form-slider-item
              .compatibility-form-slider-item-img
                +icon('leo')
              span.compatibility-form-slider-item__title 15 oct - 21 dec
            .swiper-slide.compatibility-form-slider-item
              .compatibility-form-slider-item-img
                +icon('pisces')
              span.compatibility-form-slider-item__title 15 oct - 21 dec
      span.aside__decor
        +icon('moon')
