.aside__wrapper
  .aside__container
    .aside
      h2.aside__title Current subscription
      span.aside__decor
        +icon('sun')
      ul.sub-history-list
        li.sub-history-list-item 
          span.sub-history-list-item__title date OF EXPIRATION
          span.sub-history-list-item__value 2020-10-01  14:55:29
        li.sub-history-list-item 
          span.sub-history-list-item__title currency
          span.sub-history-list-item__value USD
        li.sub-history-list-item 
          span.sub-history-list-item__title price
          span.sub-history-list-item__value 50
        li.sub-history-list-item 
          span.sub-history-list-item__title renewel STATUS
          span.sub-history-list-item__value Active
      span.aside__decor
        +icon('moon')
      button.btn Cancel subscription