.aside__wrapper
  .aside__container
    form.form.aside.logIn(action="")
      h2.aside__title forgot password?
      span.aside__decor
        +icon('sun')
      .form__item
        input.form__input(type="email" placeholder="E-mail")
        +icon('email')
      .form__item.form__item_captcha
        input.form__input(type="text" placeholder="Enter the following")
        .captcha 
          img(src="img/captcha.png", alt="captcha")
      button.btn Request new password
      p.aside__text If you forgot your password, enter your email below and we will send it to you again. Make sure you enter the same email you used to register.
      span.aside__decor
        +icon('moon')
      .aside-footer
        p.aside-footer__subtext Remember password or create new account?
        p.aside-footer__link 
          a.main sign up
          | &nbsp; or &nbsp;
          a.main login