.form__wrapper
  .form__container
    form.form.logIn(action="")
      h2.form__title Find your Destiny
      span.form__decor
        +icon('sun')
      .form__item
        input.form__input(type="email" placeholder="Email")
        +icon('email')
      .form__item
        input.form__input(type="password" placeholder="Password")
        +icon('lock')
      button.btn log in
      a.form__link Forgot password?
      span.form__decor
        +icon('moon')
      .form-footer
        p.form-footer__text Not registered yet?
        a.form-footer__link sign up for 
          span.main FREE
