.aside__wrapper
  .aside__container
    form.form.aside.logIn(action="")
      h2.aside__title Find your Destiny
      span.aside__decor
        +icon('sun')
      .form__item
        input.form__input(type="email" placeholder="Email")
        +icon('email')
      .form__item
        input.form__input(type="password" placeholder="Password")
        +icon('lock')
      button.btn log in
      a.aside__link Forgot password?
      span.aside__decor
        +icon('moon')
      .aside-footer
        p.aside-footer__text Not registered yet?
        a.aside-footer__link sign up for 
          span.main FREE
