.form__wrapper
  .form__container
    form.form.premium-form(action="")
      h2.form__title Choose your premium
      span.form__decor
        +icon('sun')
      ul.premium-list
        li.premium-list-item.active
          .premium-list-item__header 
            +icon('checkbox')
            span.premium-list-item__title 1 DAY
            span.premium-list-item__pricetext (5.00$/day)
            span.premium-list-item__price 5$
          p.premium-list-item__text Try all the functions of the website - see horoscopes, natal chart & more! Try all the functions of the website - see horoscopes, natal chart & more! Try all the functions of the website - see horoscopes, natal chart & more!
        li.premium-list-item
          .premium-list-item__header 
            +icon('checkbox')
            span.premium-list-item__title 1 MONTH
            span.premium-list-item__pricetext (0.98$/day)
            span.premium-list-item__price 35$
          p.premium-list-item__text Try all the functions of the website - see horoscopes, natal chart & more! Try all the functions of the website - see horoscopes, natal chart & more! Try all the functions of the website - see horoscopes, natal chart & more!
        li.premium-list-item
          .premium-list-item__header 
            +icon('checkbox')
            span.premium-list-item__title 3 MONTHS
            span.premium-list-item__pricetext (0.72$/day)
            span.premium-list-item__price 75$
          p.premium-list-item__text Try all the functions of the website - see horoscopes, natal chart & more! Try all the functions of the website - see horoscopes, natal chart & more! Try all the functions of the website - see horoscopes, natal chart & more!
      button.btn try premium nows
      span.form__decor
        +icon('moon')
      .form-footer
       p.form-footer__text 
        b By clicking “Try now” you agree and accept our Billing policy
        br
        | After the payment, you will receive a Premium status in accordance with the paid plan and get 1 month subscription for 20$. After the end of the period, your Premium status will be automatically renewed for the same period at the indicated above price, until you cancel it.
