.aside__wrapper
  .aside__container
    .aside
      h2.reviews__title Reviews
      span.aside__decor
          +icon('sun')
      .reviews.swiper 
        .swiper-wrapper
          .swiper-slide.reviews-item
            .reviews-item-img 
              img(src="img/reviews.png", alt="Namee Familiya")
            h3.reviews-item__title Namee Familiya
            span.reviews-item__subtitle (Scorpion)
            p.reviews-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          .swiper-slide.reviews-item
            .reviews-item-img 
              img(src="img/reviews.png", alt="Namee Familiya")
            h3.reviews-item__title Namee Familiya
            span.reviews-item__subtitle (Scorpion)
            p.reviews-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          .swiper-slide.reviews-item
            .reviews-item-img 
              img(src="img/reviews.png", alt="Namee Familiya")
            h3.reviews-item__title Namee Familiya
            span.reviews-item__subtitle (Scorpion)
            p.reviews-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        span.aside__decor
          +icon('moon')
        .reviews-pagination.swiper-pagination
        .reviews-nav 
          button.reviews-nav-prev
            +icon('prev')
          button.reviews-nav-next
            +icon('prev')