.aside__wrapper
  .aside__container
    form.aside.userData(action="")
      h2.aside__title your USER dATA
      span.aside__decor
        +icon('sun')
      .form__item
        input.form__input(type="text" placeholder="Your name")
        +icon('email')
      .form__item
        input.form__input(type="text" placeholder="Place of Birth")
      .form__item
        input.form__input(type="date" placeholder="Date of Birthday")
        +icon('input-arrow')
      .form__item
        input.form__input(type="time" placeholder="Time of Birthday")
        +icon('input-arrow')
      .form__item
        input.form__input(type="email" placeholder="E-mail")
        +icon('email')
      button.btn save changes
      span.aside__decor
        +icon('moon')
      .aside-footer
        a.aside-footer__textLink Change password
        a.aside-footer__textLink Logout
