.aside__wrapper
  .aside__container
    form.aside.logIn(action="")
      h2.aside__title Write to us
      span.aside__decor
        +icon('sun')
      .form__item
        input.form__input(type="email" placeholder="E-mail")
        +icon('email')
      .form__item
        textarea.form__textarea( placeholder="Your question")
      .form__item.form__item_captcha
        input.form__input(type="text" placeholder="Enter the following")
        .captcha 
          img(src="img/captcha.png", alt="captcha")
      button.btn send