.aside__wrapper
  .aside__container
    .aside.zodiac
      h2.aside__title USER Name
      h3.aside__title Libra
      span.aside__decor
        +icon('sun')
      .zodiac-img 
        +icon('libra')
      span.zodiac__title 15 oct - 21 dec 
      p.zodiac__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
      span.aside__decor
        +icon('moon')
