.aside__wrapper
  .aside__container
    .aside.zodiac
      h2.aside__title smirnov ivan
      h3.aside__title gemini
      span.aside__decor
        +icon('sun')
      .zodiac-img 
        +icon('gemini')
      span.zodiac__title 15 oct - 21 dec 
      p.zodiac__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
      span.aside__decor
        +icon('moon')
