section.sub-history-section
  .container 
    h1.title Subscription history
    ul.sub-history-list
      li.sub-history-list-item 
        span.sub-history-list-item__title payment number
        span.sub-history-list-item__value 501480273
      li.sub-history-list-item 
        span.sub-history-list-item__title date OF TRANSACTION
        span.sub-history-list-item__value 2020-10-01  14:55:29
      li.sub-history-list-item 
        span.sub-history-list-item__title date OF EXPIRATION
        span.sub-history-list-item__value 2020-10-01  14:55:29
      li.sub-history-list-item 
        span.sub-history-list-item__title currency
        span.sub-history-list-item__value USD
      li.sub-history-list-item 
        span.sub-history-list-item__title price
        span.sub-history-list-item__value 50
      li.sub-history-list-item 
        span.sub-history-list-item__title receipt
        span.sub-history-list-item__value 
          a.sub-history-list-item__link(href="#") Click to open
    hr.hr-sun 
    h2.title Payment history
    ul.sub-history-list
      li.sub-history-list-item 
        span.sub-history-list-item__title payment number
        span.sub-history-list-item__value 501480273
      li.sub-history-list-item 
        span.sub-history-list-item__title date OF TRANSACTION
        span.sub-history-list-item__value 2020-10-01  14:55:29
      li.sub-history-list-item 
        span.sub-history-list-item__title date OF EXPIRATION
        span.sub-history-list-item__value 2020-10-01  14:55:29
      li.sub-history-list-item 
        span.sub-history-list-item__title currency
        span.sub-history-list-item__value USD
      li.sub-history-list-item 
        span.sub-history-list-item__title price
        span.sub-history-list-item__value 50
      li.sub-history-list-item 
        span.sub-history-list-item__title receipt
        span.sub-history-list-item__value 
          a.sub-history-list-item__link(href="#") Click to open
    hr.hr-sun 
    ul.sub-history-list
      li.sub-history-list-item 
        span.sub-history-list-item__title payment number
        span.sub-history-list-item__value 501480273
      li.sub-history-list-item 
        span.sub-history-list-item__title date OF TRANSACTION
        span.sub-history-list-item__value 2020-10-01  14:55:29
      li.sub-history-list-item 
        span.sub-history-list-item__title date OF EXPIRATION
        span.sub-history-list-item__value 2020-10-01  14:55:29
      li.sub-history-list-item 
        span.sub-history-list-item__title currency
        span.sub-history-list-item__value USD
      li.sub-history-list-item 
        span.sub-history-list-item__title price
        span.sub-history-list-item__value 50
      li.sub-history-list-item 
        span.sub-history-list-item__title receipt
        span.sub-history-list-item__value 
          a.sub-history-list-item__link(href="#") Click to open
