section.c-result
  .container 
    h1.page__title compatibility results
    .c-result-item 
      h2.c-result-item__title Generally
      p.c-result-item__text A straightforward pair in every sense of their word. They will feel quite comfortable in the relationship thanks to the harmony they share, whether it will be their pace, goals, mutual interest, or even their stubbornness and unwillingness to back down from the argument. Weirdly, conflicts caused by the mentioned stubbornness are quite mild thanks to the inherent kinship Tauruses share. Familiarity and connection will be the basis of a long-lasting, healthy relationship.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Generally
      p.c-result-item__text A straightforward pair in every sense of their word. They will feel quite comfortable in the relationship thanks to the harmony they share, whether it will be their pace, goals, mutual interest, or even their stubbornness and unwillingness to back down from the argument. Weirdly, conflicts caused by the mentioned stubbornness are quite mild thanks to the inherent kinship Tauruses share. Familiarity and connection will be the basis of a long-lasting, healthy relationship.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Generally
      p.c-result-item__text A straightforward pair in every sense of their word. They will feel quite comfortable in the relationship thanks to the harmony they share, whether it will be their pace, goals, mutual interest, or even their stubbornness and unwillingness to back down from the argument. Weirdly, conflicts caused by the mentioned stubbornness are quite mild thanks to the inherent kinship Tauruses share. Familiarity and connection will be the basis of a long-lasting, healthy relationship.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Generally
      p.c-result-item__text A straightforward pair in every sense of their word. They will feel quite comfortable in the relationship thanks to the harmony they share, whether it will be their pace, goals, mutual interest, or even their stubbornness and unwillingness to back down from the argument. Weirdly, conflicts caused by the mentioned stubbornness are quite mild thanks to the inherent kinship Tauruses share. Familiarity and connection will be the basis of a long-lasting, healthy relationship.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Generally
      p.c-result-item__text A straightforward pair in every sense of their word. They will feel quite comfortable in the relationship thanks to the harmony they share, whether it will be their pace, goals, mutual interest, or even their stubbornness and unwillingness to back down from the argument. Weirdly, conflicts caused by the mentioned stubbornness are quite mild thanks to the inherent kinship Tauruses share. Familiarity and connection will be the basis of a long-lasting, healthy relationship.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Generally
      p.c-result-item__text A straightforward pair in every sense of their word. They will feel quite comfortable in the relationship thanks to the harmony they share, whether it will be their pace, goals, mutual interest, or even their stubbornness and unwillingness to back down from the argument. Weirdly, conflicts caused by the mentioned stubbornness are quite mild thanks to the inherent kinship Tauruses share. Familiarity and connection will be the basis of a long-lasting, healthy relationship.
