section.c-result
  .container 
    h1.title compatibility results
    .c-result-item 
      h2.c-result-item__title Generally
      p.c-result-item__text A straightforward pair in every sense of their word. They will feel quite comfortable in the relationship thanks to the harmony they share, whether it will be their pace, goals, mutual interest, or even their stubbornness and unwillingness to back down from the argument. Weirdly, conflicts caused by the mentioned stubbornness are quite mild thanks to the inherent kinship Tauruses share. Familiarity and connection will be the basis of a long-lasting, healthy relationship.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Relations
      p.c-result-item__text Taurus is a rational sign that prefers to carefully approach changes, that's why the two of them will take some time before forming a couple. When they do though - they feel great comfort and an outstanding sense of connection with each other. Usually they form a long-lasting relationship, filled with safety, joy, kindness and comfort. Both partners will appreciate the sense of security that they provide to each other and will enjoy spending time together, both at home and in nature. Sometimes it might be challenging to overcome their mutual stubborness, but usually they are ready to compromise if they feel enough love for the partner.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Intimacy
      p.c-result-item__text An interesting mix of stubborness and tenderness, that somehow works really well! Two homemakers, together can create an ultimate place of comfort and pleasure, filled with beautiful things, works of art, and of course, endless love. They both know how slow they'd like to move - but that doesn't bother them in the slightest. Why hurry at all? They are already here, they are beautiful, and they care about each other. They just have to ease up on the stubborness and avoid turning regular arguments into full-on fights.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Family
      p.c-result-item__text There are hardly anyone as traditional as Taurus. And few can appreciate this trait as well as fellow Taurus! Often ridiculed by other members of the family for their old-fashioned ways, those two know that their way is the best, as it is the way that brings the best results in the end. It's not like Taurus ignores meaningful change, they just dislike doing it out of superficial reasoning. Highly rational, but prone to chill and enjoy their life, a duo of Tauruses from the same family will enjoy spending time together, appreciating good food and everything else life has to offer.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Friendship
      p.c-result-item__text Life is full of beauty and pleasure. And Taurus knows that well, enjoying all the things they can, be it art, food, fashion, gardening or any other DIY projects. But it's one thing to enjoy it on your own, and it's something else to do it in company of someone who values beauty as much as you. And who can better understand Taurus than another Taurus? It'll be fun and engaging, but both should remember that Taurus is a stubborn person who avoids change, and the other Taurus should respect that before barging in into their friend's life.
    hr.hr-sun
    .c-result-item 
      h2.c-result-item__title Work
      p.c-result-item__text Rational and pragmatic, Taurus will appreciate a fellow sign who shares their view on how things should be done. Strong proponents of comfort, those two will do their best to make sure that the atmosphere in the workplace is as accommodating as possible. Dedication is important to both of them, so they give it all towards the project they work on. Said stubborness will be a source of success, but it might as well transform into the conflict, if both Tauruses strongly disagree on something.