section.natal-section 
  .container 
    h1.page__title Astrological 
      br
      | Natal Chart
    .natal-map 
      img(src="img/natal-map.png" alt="Natal map")
    .natal-list__wrapper
      h2.natal__subtitle HARMONIOUS FACTORS
      ul.natal-list
        li.natal-list-item
          +icon('trigon')
          span TRIGON 120 °
        li.natal-list-item
          +icon('angle')
          span SQUARE 90 ° 
        li.natal-list-item
          +icon('snowflake')
          span QUEENCONS 150 °
        li.natal-list-item
          +icon('square')
          span OPPOSITION 180 °
        li.natal-list-item
          +icon('glasses')
          span SEXTILE 60 °
      h2.natal__subtitle STRESSFUL FACTORS
      ul.natal-list
        li.natal-list-item
          +icon('loupe')
          span CONNECTION 0 °
        li.natal-list-item
          +icon('retrograd')
          span RETROGRADE
    hr.hr-sun
    h2.natal__subtitle ASPECT TABLE
    img.page__img(src="img/natal-graf.png", alt="ASPECT TABLE")








    