include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.contacts
    include ../components/global/header-profil
    include ../components/form/writeToUs
    //main
    main
      .main-background
      include ../pages/contacts/contacts
    include ../components/global/footer
    include ../components/global/scripts
    include ../components/modals/pages