include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body
    include ../components/global/header
    //- include ../components/form/form
    //main
    //- .main-background
    main.swiper.page-slider
      .swiper-wrapper.page-slider__wrapper
        include ../pages/index/1-screen
        include ../pages/index/2-screen
        include ../pages/index/3-screen
      .swiper-pagination
    include ../components/global/footer
    include ../components/global/scripts
