include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.premium
    include ../components/global/header-profil
    include ../components/form/premium
    //main
    main
      .main-background
      include ../pages/premium/premium
    include ../components/global/footer
    include ../components/global/scripts
    include ../components/modals/pages