include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.privacy
    include ../components/global/header-profil
    //main
    main
      .main-background
      include ../pages/privacy/privacy
    include ../components/global/footer
    include ../components/global/scripts
    include ../components/modals/pages