include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.profil
    include ../components/global/header-profil
    include ../components/form/userData
    //main
    main
      include ../components/global/main-background
      include ../pages/profil/profil
    include ../components/global/footer
    include ../components/global/scripts
    include ../components/modals/pages
