include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.sub-history
    include ../components/global/header-profil
    include ../components/form/currentSubscription
    //main
    main
      .main-background
      include ../pages/sub-history/sub-history
    include ../components/global/footer
    include ../components/global/scripts
    include ../components/modals/pages