include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.about
    include ../components/global/header-profil
    include ../components/form/reviews
    //main
    main
      .main-background
      include ../pages/about/about
    include ../components/global/footer
    include ../components/global/scripts
    include ../components/modals/pages