//first-screen
section.contacts-section
  .container
    h1.page__title contacts
    .page__text
      p The technical support service works for you 24/7
      p For any questions, contact us at:
      a.contacts-section__link(href="mailto:") SUPPORT@ASTROMIX.COM


