//first-screen
section.first-screen.swiper-slide
  .container
    h1.first-screen__title THE VOICE OF THE STARS
    .first-screen__text
      p Our lives on this planet are just an extension of our cosmic destinies.
      p Every single day the stars speak to us, offering their guidance and predicting the flow of our being.
      p It is our choice to listen to the voice of stars, or stay deaf to their wise words, potentially missing an opportunity to shine, or failing to prevent misfortune.
      p Don’t miss out. Listen to the words of the stars, deciphered by qualified astrologers. Take over the reins of your destiny and explore the wisdom of the cosmos with us!
