//
section {
  display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	background: transparent;
	position: relative;
  @include mq('768') {
		padding: 142px;
		height: 100vh;

	}
	// transition: 0.2s ease-in-out;
	// transition-delay: 0.3s;
	// &:first-child {
	// 	opacity: 1;
	// }
}