.footer {
  width: 100%;
  z-index: 500;
  margin-top: auto;
  padding: 32px 0;
  @include mq('768') {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    padding-bottom: 20px;
  }
  @include mq('1024') {
    padding-bottom: 3%;
  }

  .container {
    padding-right: 0;
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
    @include mq('768') {
      max-width: 60%;
    }
    &-item {
      padding-right: 30px;
      margin-bottom: 16px;
      @include mq('768') {
        padding-right: 15px;
      }
      a {
        color: $grey;
        transition: color 0.2s ease-in-out;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 18px;
        text-shadow: 1px 1px 1px $white;

        &:hover {
          color: darken($color: $grey, $amount: 20%);
        }
      }
    }
  }
}

body:not(.index) .footer {
  position: relative;
  padding-top: 20px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 32px - 32px);
    height: 1px;
    background: rgba($color: #000000, $alpha: 0.1);
    @include mq('768') {
      display: none;
    }
  }
}
