//footer
footer.footer
  .container 
    ul.footer-nav
      li.footer-nav-item
        a(href="/privacy.html") Terms of use
      
      li.footer-nav-item
        a(href="/privacy.html") Privacy
      
      li.footer-nav-item
        a(href="#") Billing Policy
      
      li.footer-nav-item
        a(href="/contacts.html") Contact Information
      
      li.footer-nav-item
        a(href="#") About us
      
      li.footer-nav-item
        a(href="#") Support service
      
