//footer
footer.footer
  .container 
    ul.footer-nav
      li.footer-nav-item
        a(href="#") Terms of use
      
      li.footer-nav-item
        a(href="#") Privacy
      
      li.footer-nav-item
        a(href="#") Billing Policy
      
      li.footer-nav-item
        a(href="#") Contact Information
      
      li.footer-nav-item
        a(href="#") About us
      
      li.footer-nav-item
        a(href="#") Support service
      
