//header
header.header.header-profil
  .header__container
    a.header__logo(href="./profil.html")
      img(src="img/logo.png", alt="")
      | strofate
    button.header-profil__burger
      i
      i
      i
    nav.header-profil__nav
      ul.header-profil-menu
        li.header-profil-menu-item
          a.header-profil-menu-item__link(href="").active profile
        li.header-profil-menu-item
          a.header-profil-menu-item__link(href="") Natal Chart
        li.header-profil-menu-item
          a.header-profil-menu-item__link(href="") Compatibility test
        li.header-profil-menu-item
          a.header-profil-menu-item__link(href="") Horoscopes
    a.header-profil__premium
      +icon('premium')
      | premium





