//header
header.header.header-profil
  .header__container
    a.header__logo(href="./profil.html")
      img(src="img/logo.png", alt="")
      | strofate
    button.header-profil__burger Open menu
      i
      i
      i
    nav.header-profil__nav
      ul.header-profil-menu
        li.header-profil-menu-item
          a.header-profil-menu-item__link(href="./profil.html") profile
        li.header-profil-menu-item
          a.header-profil-menu-item__link(href="./natal.html") Natal Chart
        li.header-profil-menu-item
          a.header-profil-menu-item__link(href="./compatibility.html") Compatibility test
        li.header-profil-menu-item
          a.header-profil-menu-item__link(href="./horoscopes.html") Horoscopes
    a.header-profil__premium(href="premium.html")
      +icon('premium')
      | premium





