.main-background
  img.planet-1(src="img/planet1.png", alt="Planet")
  img.planet-2(src="img/planet2.png", alt="Planet")
  img.planet-3(src="img/planet3.png", alt="Planet")
  img.zodiacs(src="img/zodiacs.png", alt="Zodiacs")