.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-angle {
	font-size:(15/10)*1rem;
	width:(21/15)*1em;
}
.icon-aquarius {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-auries {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-briefcase {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-canser {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-capricom {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-check {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-checkbox {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-compatibility {
	font-size:(45/10)*1rem;
	width:(45/45)*1em;
}
.icon-email {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-gemini {
	font-size:(175/10)*1rem;
	width:(175/175)*1em;
}
.icon-glasses {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-heart {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-home {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-horoscope {
	font-size:(45/10)*1rem;
	width:(45/45)*1em;
}
.icon-input-arrow {
	font-size:(9/10)*1rem;
	width:(12/9)*1em;
}
.icon-leo {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-libra {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-lock {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-logo {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-loupe {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-moon {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-natal {
	font-size:(45/10)*1rem;
	width:(45/45)*1em;
}
.icon-pisces {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-premium {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-prev {
	font-size:(18/10)*1rem;
	width:(20/18)*1em;
}
.icon-retrograd {
	font-size:(21/10)*1rem;
	width:(13/21)*1em;
}
.icon-sagittarius {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-scorpio {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-snowflake {
	font-size:(21/10)*1rem;
	width:(19/21)*1em;
}
.icon-square {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-sun {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-taurus {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-trigon {
	font-size:(17/10)*1rem;
	width:(21/17)*1em;
}
.icon-users {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-virgo {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
