form.form.userData(action="")
  h2.form__title your USER dATA
  span.form__decor
    +icon('sun')
  .form__item
    input.form__input(type="text" placeholder="Name")
    +icon('email')
  .form__item
    input.form__input(type="text" placeholder="City")
  .form__item
    input.form__input(type="date" placeholder="Date Birthday")
  .form__item
    input.form__input(type="time" placeholder="Time Birthday")

  .form__item
    input.form__input(type="email" placeholder="Email")
    +icon('email')
  button.btn save changes
  a.form__link Forgot password?
  span.form__decor
    +icon('moon')
  .form-footer
    a.form-footer__link Not registered yet?
    p.form-footer__text sign up for
      span.main FREE
