.page-slider {
  margin: 109px 0 34px;
  width: 100%;
  overflow: hidden;
  @include mq('768') {
    margin: 0;
    height: 100vh;
  }
  &__wrapper {
    // overflow: hidden;
    max-width: 100%;
  }
  div.swiper-pagination {
    margin-top: 12px;
    @include mq('768') {
      position: absolute;
      top: 0;
      left: 25px;
      height: 100vh;
      flex-direction: column;
    }
    @include mq('1600') {
      left: 65px;
    }
    .swiper-pagination-bullet {
      @include mq('768') {
        width: 8px;
        height: 32px;
      }
      &:before {
        @include mq('768') {
          top: 50%;
          transform: translateY(-50%);
          transition: height 0.2s ease-in-out;
        }
      }
      &:not(:last-child) {
        @include mq('768') {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
      &-active {
        &:before {
          @include mq('768') {
            height: 100%;
          }
        }
      }
    }
  }
}

body:not(.compatibility) {
  .swiper-pagination {
    height: 8px;
    display: flex;
    justify-content: center;
    &-bullet {
      width: 32px;
      height: 8px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
        height: 8px;
        width: 8px;
        background-color: #E5E5E5;
        border-radius: 20px;
        transition: width 0.2s ease-in-out;
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
      &-active {
        &:before {
          background: $main;
          width: 100%;
        }
      }
    }
  }
}
