.about {
  &-section {
    padding: 30px 0 60px;
    &-item {
      @include mq('768') {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, auto);
      }
      &-img {
        background: $darkmain;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        @include mq('768') {
          margin-right: 30px;
          grid-area: 1 / 1 / 3 / 2;
        }
        .icon {
          width: 45px;
          height: 45px;
        }
      }
      &__title {
        color: $text;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        margin: 20px 0;
        display: block;
        @include mq('768') {
          margin-bottom: 0;
          font-size: 20px;
        }
      }
    }
    .btn {
      margin: 30px 0;
      max-width: 445px;
    }
  }
}
