.about {
  .main-background:before {
    display: none;
  }
  &-section {
    padding-bottom: 60px;
    .btn {
      margin: 30px 0;
      max-width: 445px;
    }
  }
  .page__text {
    @include mq('768') {
      margin-bottom: 40px;
    }

  }
}
