//first-screen
section.about-section
  .container
    h1.title About us
    picture.page__img
      source(media="(min-width: 768px)", srcset="img/hz.png")
      img(src="img/hz-mobile.png", alt="About us")
    .page__text
      p Our aim is to give people a simple way to get to know each other. We bring together men and women who are looking for love and relationships, but who find it hard to look for a soul mate because they are busy or for other reasons. It takes just minutes from registration to meeting new people, while the intuitive and functional interface makes searching and chatting a real pleasure!

      p Register and start meeting new people today!

      p If you have any questions on how the service works or you have a collaboration proposal, just drop us a line at: support@flirtroad.com

      p Our customer service is here for you 24 hours a day, 7 days a week.

    hr.hr-sun
    .services-list
      .services-list-item
        .services-list-item-img
          +icon('natal')
        span.services-list-item__title Natal Chart
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      hr.hr-sun
      .services-list-item
        .services-list-item-img
          +icon('horoscope')
        span.services-list-item__title Compatibility test
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      hr.hr-sun
      .services-list-item
        .services-list-item-img
          +icon('natal')
        span.services-list-item__title Horoscopes
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    hr.hr-sun
    button.btn.btn_primary Get access to service


