section.premium-section 
  .container 
    h1.page__title premium
    .services-list
      hr.hr-sun
      .services-list-item
        .services-list-item-img
          +icon('natal')
        span.services-list-item__title Natal Chart
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      hr.hr-sun
      .services-list-item
        .services-list-item-img
          +icon('horoscope')
        span.services-list-item__title Compatibility test
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      hr.hr-sun
      .services-list-item
        .services-list-item-img
          +icon('natal')
        span.services-list-item__title Horoscopes
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      hr.hr-sun